<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fortune Cookie App</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body class="flex flex-col justify-center min-h-screen">
    <div class="content">
        <p>Your advice is:</p>
        <h1>{{ advice }}</h1>
    </div>

    <footer>Advice provided by <a href="https://api.adviceslip.com/">Advice Slip</a></footer>
</body>
</html>